.Card {
    background-color: #010101;
    padding: 20px;
    border-radius: 12px;
    
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    width: 80%;
    margin: 40px auto;
  }
  .title-line{
    text-align: center;
    color:#429786;
    font-size: 34px;
  }
  .AboutP {
    text-align: center;
    color:#2597b4;
    font-size: 24px;
  }

  .pp{
    display: block; /* Changed from flex to block for img elements */
    border-radius: 50%; /* Changed from 80% to 50% for perfect circle */
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto; 
    position: relative;
   
  }
  